
$globalRem: 16;

$icon-path:'/images-css/';

/* color */
$primary:#0066ff;
$second:#e6f0ff;
$info:#17a2b8;
$success:#28a745;
$warning:#ffc107;
$danger:#dc3545;
$default:#929292; // notr


$primary-text:#5e6676;









